@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #fff;
}

.coin-text {
  padding: 40px 20px;
}

.sub-heading {
  display: flex;
  align-items: center;
  width: 250px;
}

.view-switch {
  border: none;
  background: white;
  border-radius: 4px;
  padding: 0 10px;
  height: 25px;
  margin: 0 20px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.view-switch:hover {
  background: blue;
  color: #fff;
}

.search-refresh {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.btn-refresh {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 10px;
  background: none;
  color: #fff;
  outline: none;
  border: none;
}

.btn-refresh:hover {
  color: blue;
}

.input {
  background: #fff;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  outline: none;
}

.sub-heading {
  display: flex;
  flex-direction: row;
}

.up {
  margin:20px;
  color: white;
  height: 30px;
}

.up:visited {
  color: #fff;
}

.up:hover {
  color: blue;
}

.small-screen {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  display: none;
  overflow: hidden;
}

.small-screen p {
  margin: 30px;
  font-size: xx-small;
}

@keyframes turnPhone {
  from {transform: rotate(0deg)}
  to {transform: rotate(90deg) }
}

.small-screen .icon{
  margin-top: 50px ;
  font-size: 150px;
  animation: 2s turnPhone infinite;
}

@media (max-width:600px){
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:567px){
  .small-screen {
    display: flex;
  }

  .coin-text, .sub-heading,.search-refresh, .List, .up {
    display: none;
  }
}