* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  grid-column-gap: 0px;
  padding: 50px;
  max-width: 2000px;
}

.card {
  width: 250px;
  margin: 10px;
  padding: 0;
  border-radius: 5px;
  /* transition: 10s linear; */
}

.card:hover {
  grid-row: span 3;
  width: auto;
}

.card:nth-last-child(-n+4):hover{
  width: 100vw;
}

.card-red {
  background-color: rgb(255, 0, 0);
}

.card-green {
  background-color: rgb(0, 173, 0);
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-content img {
  width: 50px;
  height: 50px;
}

.card-symbol {
  text-transform: uppercase;
}

.card-content ul {
  text-align: justify;
}

.card-content ul li {
  list-style: none;
}
