* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.list-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 800px;
    height: 50px;
    border-bottom: 1px solid red ;
}

.item-content {
    display: flex;
    align-items: center;
    padding: 25px ;
    
}

.item-content img {
    width: 25px; 
    height: 25px;
}